:root {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

*,
::before,
::after {
    box-sizing: inherit;
}



body {
    background-color: hsl(257, 40%, 49%);
    margin: 0;
}


.container {
    display: flex;
    padding-top: 55px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 35px;
}

.col {
    flex: 48%;
    padding: 15px;
}

.hud {
    padding-top: 30px;
    padding-left: 80px;
    width: 13.5em;
}




.about-text {
    width: 32.5em;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}



.main-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 700;
}

.btn {
    padding: 20px 58px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.social-icons {
    margin-left: 32em;
    margin-top: 13.8em;
}



.social-icons i {
    color: #fff;
    font-size: 1.3em;
    padding: .6em;
}